/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }

  table .btn{
    margin: 2px;
  }

  #button_show_all{
    width: 200px;
  }

  #table{
    display: none;
  }

  #empty_records_message{
    position: relative;
    top:20vh;
    display: none;
  }

  #search_form{
    min-width: 300px;
    max-width: 50vh;
    width: 100%;

  }

  #loadnig_icon{
    position: relative;
    top:30vh;
  }

  #loadnig_icon_home{
    position: relative;
    top:8vh;
  }

  #main_form{
    position: relative;
    top:8vh;
  }

  #add_skill_form{
    min-width: 300px;
    max-width: 50vh;
    width: 100%;
  }

  .home_empty_search{
    position: relative;
    top:20vh;
  }
