<div class="container text-center" id="main_form">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <div class="container" id="search_form">
                    <h2 class="h2"><i>Search for candidates</i></h2>
                    <form >
                        <div class="form-group">
                            <label>first name</label>
                            <input type="text" [(ngModel)] = "first_name" class="form-control" id="first_name" name="first_name">
                        </div>
                        <div class="form-group">
                            <label>last name</label>
                            <input type="text" [(ngModel)] = "last_name" class="form-control" id="last_name" name="last_name">
                        </div>
                        <div class="form-group">
                            <label>skill</label>
                            <input type="text" [(ngModel)] = "skill" class="form-control" id="skill" name="skill">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" (click)="searchCandidate()">search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="container text-left">
                    <div id="show_result">
                    <!--display the loading icon -->
                        <div class="container text-center" id="loadnig_icon_home">
                            <div
                            [ngClass]="{
                            'spinner-border': toggle,
                            '': !toggle
                            }"></div>
                            <img id="image" *ngIf="image_toggle" src="assets/images/candidate.png" alt="candidate_image"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



